.logo {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  color: rgb(208, 79, 79);
}

.search-bar__main {
  display: flex;
  justify-content: center;
}
.search-bar__main input {
  font-size: 18px;
  width: 92%;
  height: 65px;
  padding: 15px;
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  background-color: rgb(231, 231, 231);
}
.search-bar__main i {
  right: 90px;
  position: absolute;
  top: 160px;
  font-size: 20px;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 15px 0 0 65px;
}
.list .search_list {
  font-weight: 600;
  font-size: 0.75em;
  width: 87px;
  min-width: initial;
  max-width: 397px;
  height: 19.7px;
  padding: 1em;
  border: 1px solid;
  border-radius: 3px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 22px;
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.list .search_list .ingredients-button {
  background: #3282F7;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF;
}
.list .search_list .appliance-button {
  background: #68D9A4;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF;
}
.list .search_list .ustensil-button {
  background: #ED6454;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  margin: 25px;
}
.container .card {
  width: 380px;
  height: 370px;
  border-radius: 5px;
  background-color: #E7E7E7;
}
.container .card .empty {
  background-color: #C7BEBE;
  width: 100%;
  height: 50%;
  border-radius: 5px;
}
.container .card .title-section {
  padding: 0 10px 5px 10px;
  font-size: 12px;
}
.container .card .title-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: baseline;
  justify-content: space-between;
}
.container .card .title-content .title-recipe {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.container .card .title-content .time {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.container .card .content-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: baseline;
}
.container .card .content-section .description {
  width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
.container .card .content-section ul {
  width: 50%;
  list-style: none;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}
.container .card .content-section ul li {
  font-weight: 400;
}

.list-content {
  display: flex;
  flex-flow: row wrap;
}
.list-content .ingrediant-dropdown-content {
  display: none;
}
.list-content .appliance-dropdown-content {
  display: none;
}
.list-content .ustensil-dropdown-content {
  display: none;
}
.list-content .ustensil-dropdown-content.show {
  padding: 5px;
  display: flex;
  flex-flow: column wrap;
  gap: 4px;
  width: 500px;
  height: 300px;
  border-radius: 5px;
  background-color: #ED6454;
  -webkit-animation: rotateDropdown 400ms ease-in-out forwards;
          animation: rotateDropdown 400ms ease-in-out forwards;
  transform-origin: top center;
  position: absolute;
  left: 343px;
  margin-top: 10px;
}
.list-content .ustensil-dropdown-content.show a {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
}
.list-content .ingrediant-dropdown-content.show {
  padding: 5px;
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
  width: 850px;
  height: 700px;
  border-radius: 5px;
  background-color: #3282F7;
  -webkit-animation: rotateDropdown 400ms ease-in-out forwards;
          animation: rotateDropdown 400ms ease-in-out forwards;
  transform-origin: top center;
  position: absolute;
  left: 86px;
  margin-top: 10px;
}
.list-content a {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
}
.list-content .appliance-dropdown-content.show {
  padding: 5px;
  display: flex;
  flex-flow: column wrap;
  gap: 4px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  background-color: #68D9A4;
  -webkit-animation: rotateDropdown 400ms ease-in-out forwards;
          animation: rotateDropdown 400ms ease-in-out forwards;
  transform-origin: top center;
  position: absolute;
  left: 214px;
  margin-top: 10px;
}
.list-content .appliance-dropdown-content.show a {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
}

@-webkit-keyframes rotateDropdown {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes rotateDropdown {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}/*# sourceMappingURL=style.css.map */