.logo{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    color: rgb(208, 79, 79);
}
.search-bar__main{
    display: flex;
    justify-content: center;
    input {
        font-size: 18px;
        width: 90%;
        height: 65px;
        padding: 15px;
        border: none;
        border-radius: 2px;
        background-color: rgb(231, 231, 231);
    }
}
.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 15px 0 0 100px;
    .divList{
        font-family: "DM Sans", sans-serif;
        font-weight: 600;
        font-size: 0.75em;
        width: 87px;
        min-width: initial;
        max-width: 397px;
        height: 19.7px;
        padding: 1em;
        border: 1px solid ;
        border-radius: 3px;
        font-family: "Lato";
        font-weight: 600;
        font-size: 0.75em;
        color: #fff;
    }
    #divIngredients{ background-color: #3282F7; }
    #divAppareils{ background-color: #68D9A4; }
    #divUstensiles{ background-color: #ED6454; }
}

